<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xushu.rag.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.xushu.rag.entity.User">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="userName" column="user_name" />
            <result property="password" column="password" />
            <result property="phone" column="phone" />
            <result property="sex" column="sex" />
            <result property="idNumber" column="id_number" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="createUser" column="create_user" />
            <result property="updateUser" column="update_user" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,user_name,password,phone,sex,
        id_number,status,create_time,update_time,create_user,
        update_user
    </sql>
    <update id="updateUser">
        update tb_user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="userName != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNumber != null">id_Number = #{idNumber},</if>
            <if test="updateTime != null">update_Time = #{updateTime},</if>
            <if test="updateUser != null">update_User = #{updateUser},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <select id="pageQuery" resultType="com.xushu.rag.entity.User">
        select * from tb_user
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
